.contact {
  text-decoration: none;
  color: var(--c-white);
  font-family: var(--f-open-sans);
  font-size: 12px;
  &:hover {
    color: var(--c-violet-dark);    
  }
}

.hours {
  text-decoration: none;
  color: var(--c-white);
  font-family: var(--f-open-sans);
  font-size: 12px;
}

.title {
  color: var(--c-white);
  font-family: var(--f-open-sans);
  font-size: 14px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  color: var(--c-white);
  font-size: 12px;
}