.wrapper {
margin-bottom: 80px;
}


.title {
  text-shadow: 2px 2px var(--c-violet-light);
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  margin-top: 70px;
  font-size: 24px;

  &::before {
    content: '';
    background-color: var(--c-violet-light);
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 2px;
    top: -20px;
    left: 50%;
  }
}

