

.header {
  background: var(--c-white);
}

.wrapper {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.buttons {
display: flex;
gap: 10px;
}
