.wrapper {
  background-image: url('vegetable-bacground2.png');
  justify-content: space-between;
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: cover;
  margin-bottom: 90px;
  align-items: center;
  margin-top: 150px;
  display: flex;
  gap: 60px;
  @media screen and (max-width: 426px)  {
    margin-bottom: 30px;
    margin-top: 130px;
  }
}

.container {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  width: 80%;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
  display: flex;
  width: 80%;
}

.decoration {
  background-color: var(--c-text-back);
  border: 1px solid var(--c-violet-light);
  position: relative;
  height: 200px;
  width: 200px;
  width: 30%;
  &::before {
    content: '';
    background: var(--c-violet-light);
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: -30px;
    left: -40%;
  }
  @media screen and (max-width: 426px) {
    height: 150px;
    width: 150px;
  }
}

.decorationReverse {
  background-color: var(--c-text-back);
  border: 1px solid var(--c-violet-light);
  position: relative;
  height: 200px;
  width: 200px;
  width: 30%;
  &::before {
    content: '';
    background: var(--c-violet-light);
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    right: -40%;
    top: -30px;
  }
  @media screen and (max-width: 426px) {
    height: 150px;
    width: 150px;
  }
}

.tagsContainer {
  align-items: center;
  position: relative;
  display: flex;
  width: 70%;
}

.tags {
  text-shadow: 2px 2px var(--c-violet-light);
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-transform: uppercase;
  margin-bottom: 90px;
  position: absolute;
  font-style: italic;
  text-align: center;
  margin-top: 70px;
  font-size: 44px;
  left: -120px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 426px) {
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 26px;
  }
}

.tagsReverse {
  text-shadow: 2px 2px var(--c-violet-light);
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-transform: uppercase;
  margin-bottom: 90px;
  position: absolute;
  font-style: italic;
  text-align: center;
  margin-top: 70px;
  font-size: 44px;
  right: -120px;
  left: 0px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 426px) {
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 26px;
  }
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.visible {
  animation: waveAnimation 4s ease-in-out;
}

.tags {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.visible {
  opacity: 1;
}

.reverseAnimation {
  animation: waveAnimation 4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
