.container {
  box-shadow: 1px 1px 2px var(--c-violet-dark), 0 0 25px var(--c-violet), 0 0 5px var(--c-violet-light);
  background: transparent;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden; 
  max-width: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
  @media screen and (max-width: 426px)  {
    margin-bottom: 20px;
  }
}

.inView {
  animation: borderAnimation 2s forwards, backgroundAnimation 3s forwards;
}

@keyframes borderAnimation {
  from {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    transform: scaleY(0);
  }
  to {
    border-left: 1px solid var(--c-violet);
    border-top: 1px solid var(--c-violet);
    transform: scaleY(1);
  }
}

@keyframes backgroundAnimation {
  from {
    background: transparent;
  }
  to {
    background: var(--c-text-back);
  }
}

.title {
  text-shadow: 2px 2px var(--c-violet-light);
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  margin-top: 30px;
  font-size: 24px;

  &::before {
    content: '';
    background-color: var(--c-violet-light);
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 2px;
    top: -20px;
    left: 50%;
  }
}

.question {
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.learnMoreContainer {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  &:hover {
    color: var(--c-violet);
  }
} 

.more {
  border-bottom: 1px solid var(--c-violet);
  font-family: var(--f-open-sans);
  color: var(--c-black);
  font-weight: 500;
  font-size: 16px;
  &:hover {
    color: var(--c-violet);
  }
}

.arrowIcon {
  margin-left: 15px;  
}