* {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 90px;
  background: var(--c-white);
  position: relative;
  border: 1px solid var(--c-violet-light);
  padding: 10px;
  &::before {
    content: '';
    background: var(--c-violet-light);
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 80%;
    z-index: -1;
    bottom: -50px;
    right: -50px;
  }
}

.title {
  color: var(--c-violet);
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: var(--f-montserrat);
  text-shadow: 1px 1px var(--c-violet-dark);
}

.pharagraf {
  color: var(--c-violet-dark);
  font-family: var(--f-montserrat);
  font-size: 18px;
}

.stetoscope {
  color: var(--c-violet);
  margin-right: 10px;
}

.titlemain {
    color: var(--c-violet-dark);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 90px;
    font-family: var(--f-montserrat);
    text-shadow: 2px 2px var(--c-violet-light);
    text-align: center;
    position: relative;
    font-size: 24px;
  
    &::before {
      content: '';
      background-color: var(--c-violet-light);
      transform: translateX(-50%);
      display: inline-block;
      position: absolute;
      width: 100px;
      height: 2px;
      top: -20px;
      left: 50%;
  }
}

.measurement {
  text-align: center;
  color: var(--c-violet);
  font-weight: 2;
  font-weight: 600;
}