.title {
  text-shadow: 2px 2px var(--c-violet-light);
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;

  &::before {
    content: '';
    background-color: var(--c-violet-light);
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 2px;
    top: -20px;
    left: 50%;
  }
}

.card {
  border: 1px solid var(--c-violet);
  background: var(--c-text-back);
  justify-content: flex-start;
  transform: translate(-50%);
  flex-direction: row;
  margin-bottom: 50px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  display: flex;
  width: 80%;
  gap: 20px;
  left: 50%;
  &::before {
    content: '';
    border: 1px solid var(--c-violet-light);
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: -10px;
    left: -10px;
  }
  @media screen and (max-width: 426px)  {
    flex-direction: column;
  }
}

.imgwrapper {
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  position: relative;
  object-fit: cover;
  display: flex;
  width: 30%;
  @media screen and (max-width: 426px)  {
    width: 100%;
  }
}

.img {
  border-radius: 20px;
  width: 100%;
}

.infowrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  @media screen and (max-width: 426px)  {
    width: 100%;
  }
}

.name {
  font-family: var(--f-open-sans);
  color: var(--c-violet);
  font-weight: 700;
  font-size: 24px;
}

.info {
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  font-size: 18px;
  @media screen and (max-width: 426px)  {
    font-size: 20px;
  }
}

.specialization {
  font-family: var(--f-open-sans);
  color: var(--c-violet-dark);
  font-style: italic;
  font-size: 16px;
}

.year {
  background-color: var(--c-white);
  font-family: var(--f-open-sans);
  color: var(--c-violet);
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
}

.txt {
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  font-style: italic;
  font-size: 16px;
  @media screen and (max-width: 426px)  {
    font-size: 20px;
  }
}

.li {
  margin-left: 15px;
  list-style: disc;
}