.contact {
  font-family: var(--f-open-sans);
  text-decoration: none;
  color: var(--c-white);
  font-size: 12px;
  &:hover {
    color: var(--c-violet-dark);    
  }
}

.wrapper {
  flex-direction: column;
  display: flex;
  gap: 10px;

  @media screen and (max-width: 426px)  {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
