.list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 75%;
}

.link {
  font-family: var(--f-montserrat);
  text-transform: uppercase;
  color: var(--c-white);
  align-items: center;
  font-size: 18px;
  display: flex;
  padding: 5px;
  &:hover {
    color: var(--c-violet-dark);
    & > .circle {
      background-color: var(--c-white);
      border-color: var(--c-white);
    }
  }
}

.circle {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--c-white);
  border-radius: 50%;
  margin-right: 10px;
  height: 10px;
  width: 10px;
}