/* Стилі для затемненого фону позаду модального вікна */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Півпрозорий чорний колір фону */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стилі для вмісту модального вікна */
.content {
  background: var(--c-white); /* Колір фону модального вікна */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Тінь для модального вікна */
}

/* Стилі для кнопки закриття модального вікна */
.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 30px;
  color: var(--c-delete); /* Колір іконки закриття */
  background: var(--c-white);
  border: solid 3px var(--c-delete);
  width: 35px;
}