

.header {
  background: radial-gradient(circle, rgba(192,127,253,1) 0%, rgba(138,43,226,1) 100%);
}

.wrapper {
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 20px;
  display: flex;

  @media screen and (max-width: 767px)  {
    align-items: flex-start;
    padding-top: 20px;
  }
}

/* .buttons {
display: flex;
gap: 10px;
} */
