.footer {
  background: radial-gradient(circle, rgba(192,127,253,1) 0%, rgba(138,43,226,1) 100%);
}

.wrapper {
    justify-content: space-between;
    padding-bottom: 25px;
    flex-direction: row;
    padding-top: 25px;
    display: flex;
    width: 100%;
}

.info {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.p {
  font-family: var(--f-open-sans);
  color: var(--c-white);
}

.social {
  align-items: center;
  display: flex;
}

