.wrapper {
  border: 1px solid var(--c-violet-light);
  justify-content: flex-start;
  background: var(--c-white);
  flex-direction: column;
  margin-bottom: 90px;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  padding: 10px;
  &::before {
    content: '';
    background: var(--c-violet-light);
    display: inline-block;
    position: absolute;
    bottom: -50px;
    right: -50px;
    height: 100%;
    width: 80%;
    z-index: -1;
  }

  @media screen and (max-width: 1024px) {
    margin-left: 10px;
    margin-right: 10px;
    &::before {
      right: 0px;
    }
  }
}

.title {
  text-shadow: 1px 1px var(--c-violet-dark);
  font-family: var(--f-montserrat);
  text-transform: uppercase;
  color: var(--c-violet);
  margin-bottom: 5px;
  margin-top: 10px;
}

.pharagraf {
  font-family: var(--f-montserrat);
  color: var(--c-violet-dark);
  font-size: 18px;
}

.stetoscope {
  color: var(--c-violet);
  margin-right: 10px;
}
