.wrapper {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.container {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.errorcontainer {
  flex-direction: column;
  display: flex;
  height: 30px;
}

.field {
  margin-left: 10px;
}

.label {
  font-family: var(--f-montserrat);
  font-size: 14px;
}

.error {
  font-family: var(--f-montserrat);
  color: var(--c-delete);
  margin-left: 10px;
  font-size: 10px;
}

.button {
  font-family: var(--f-montserrat);
  background-color: var(--c-violet);
  color: var(--c-white);
  border-radius: 10px;
  font-size: 14px;
  max-width: 80px;
  padding: 5px;
  &:hover {
    background-color: var(--c-violet-light);
  }
}