.map {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  display: flex;
  height: 700px;
  width: 100%;
  z-index: 0;

  @media screen and (max-width: 768px) {
    padding-top: 70px;
    height: 550px;
  }
  @media screen and (max-width: 426px) {
    padding-top: 10px;
    height: 400px;
  }
}

iframe {
  height: 100%;
  width: 100%;
}
